.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
}
.nav-link {
  text-decoration: none;
  color: #fff;
}
.main {
  font-size: 2rem;
}
.nav-link:hover {
  color: #d3d0d0;
  cursor: pointer;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin: 0 0.5rem;
}
@media screen and (max-width: 768px) {
  .nav-container {
    padding: 2rem 1rem;
  }
  button {
    height: 1.5rem;
    font-size: 0.6rem;
  }
  .main {
    font-size: 1rem;
  }
  li {
    font-size: 0.8rem;
  }
}
