<mat-card style="width: 50%; margin: auto">
  <form
    style="display: flex; flex-direction: column"
    (submit)="onRegister(registerForm)"
    #registerForm="ngForm"
  >
    <mat-form-field>
      <mat-label>Enter Your Email</mat-label>
      <input
        type="email"
        matInput
        #emailInput="ngModel"
        name="email"
        ngModel
        required
        email
      />
    </mat-form-field>
    <mat-error *ngIf="emailInput.invalid">Enter Valid Email</mat-error>
    <mat-form-field>
      <mat-label>Enter Your Username</mat-label>
      <input
        type="text"
        matInput
        #usernameInput="ngModel"
        name="username"
        ngModel
        required
      />
    </mat-form-field>
    <mat-error *ngIf="usernameInput.invalid">Enter Valid Username</mat-error>
    <mat-form-field>
      <mat-label>Enter Your Content</mat-label>
      <input
        type="password"
        matInput
        #passwordInput="ngModel"
        name="password"
        ngModel
        required
      />
      <mat-error *ngIf="passwordInput.invalid">Enter Valid Password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Register</button>
  </form>
</mat-card>
