<mat-card class="container">
  <h3>Register</h3>

  <form
    class="form-container"
    (submit)="onRegister(registerForm)"
    #registerForm="ngForm"
  >
    <mat-form-field>
      <mat-label>Enter Your Email</mat-label>
      <input
        type="email"
        matInput
        #emailInput="ngModel"
        name="email"
        ngModel
        required
        email
      />
    </mat-form-field>
    <mat-error
      *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
    >
      Enter Valid Email
    </mat-error>

    <mat-form-field>
      <mat-label>Enter Your Username</mat-label>
      <input
        type="text"
        matInput
        #usernameInput="ngModel"
        name="username"
        ngModel
        required
      />
    </mat-form-field>
    <mat-error
      *ngIf="
        usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)
      "
    >
      Enter Valid Username
    </mat-error>
    <mat-form-field>
      <mat-label>Enter Your Password</mat-label>
      <input
        type="password"
        matInput
        #passwordInput="ngModel"
        name="password"
        ngModel
        required
      />
      <mat-error
        *ngIf="
          passwordInput.invalid &&
          (passwordInput.dirty || passwordInput.touched)
        "
      >
        Enter Valid Password
      </mat-error>
    </mat-form-field>
    <div *ngIf="errorMessage" class="error-message">
      Registration Failed: {{ errorMessage }}
    </div>
    <button mat-raised-button color="primary" type="submit">Register</button>
  </form>
</mat-card>
