.example-card {
  width: 20rem;
  background-color: #f4f4f470;
}
h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-image {
  height: 12rem;
  object-fit: fill;
}

.card-content {
  height: 60%;
  overflow: hidden;
}
small:nth-child(2) {
  margin: 0 2rem;
}
@media screen and (min-width: 1920px) {
  .example-card {
    width: 25rem;
  }
  .card-image {
    height: 20rem;
    object-fit: fill;
  }
}
